<div class="navbar">
	<div class="justified-content centered-content">
		<ul class="main-page-links">
			<li class="important" ui-sref="home">
				<span class="big-icon glyphicon glyphicon-home"></span>
			</li>
			<li class='hidden-xs hidden-sm' ui-sref="webcam">
				<span class="glyphicon glyphicon-heart"></span>
				<span translate="navbar.testServices"></span>
			</li>
			<li class='hidden-xs hidden-sm' ui-sref="download">
				<span class="glyphicon glyphicon-heart"></span>
				<span translate="navbar.download"></span>
			</li>
		</ul>
		
		<div class="right buttons">
			<div class="logo centered-content">
				<object class="logo-image" data="images/logo.svg" type="image/svg+xml">
					<img src="images/logo.svg" />
				</object>
				<h1 translate="navbar.applicationName"></h1>
			</div>
		</div>
	</div>
</div>