# If setting is not set by this file default value will be passed.
# Using [#] before each line means that this setting is disabled - default value will be passed.
# If you want to change setting, make sure it does not have # as first character!

database.connectionUrl	= __replace.database__

affective.libs.path     = /home/wildfly/config/libs
affective.luxand.key 	= __replace.luxand.key__